header {
  width: 100%;
  height: 9rem;
  position: sticky;
  top: 0;
  z-index: 999;
  background: rgba(20, 20, 20, 0.55);
  backdrop-filter: blur(14px);
  -webkit-backdrop-filter: blur(14px);
  border-bottom: 1px solid rgba(255, 255, 255, 0.08);
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.25);
}

header .container {
  height: 100%;
  max-width: 1400px;
  margin: auto;
  padding: 0 2rem;
}

.navbar-grid {
  display: grid;
  grid-template-columns: 1fr auto;
  align-items: center;
  height: 100%;
}

.logo-text {
  font-size: clamp(2rem, 4vw, 2.8rem);
  font-weight: 700;
  background: linear-gradient(90deg, #8f70ff, #6c5ce7, #a29bfe);
  -webkit-text-fill-color: transparent;
  transition: 0.3s ease;
}

.logo-text:hover {
  filter: drop-shadow(0 0 12px #8f70ff);
  transform: scale(1.03);
}

nav ul {
  display: flex;
  gap: clamp(2rem, 4vw, 5rem);
  list-style: none;
  align-items: center;
}

nav ul li a {
  font-size: clamp(1.45rem, 3vw, 1.8rem);
  color: #fff;
  font-weight: 500;
  position: relative;
  text-decoration: none;
  transition: 0.3s ease;
}

nav ul li a::after {
  content: "";
  position: absolute;
  bottom: -5px;
  left: 0;
  height: 3px;
  width: 0%;
  background: linear-gradient(90deg, #d66bff, #6c63ff, #59bfff);
  border-radius: 50px;
  transition: width 0.35s ease;
}

nav ul li a:hover::after,
nav ul li a.active::after {
  width: 100%;
}

/* Hover glow */
nav ul li a:hover {
  text-shadow: 0 0 12px rgba(108, 99, 255, 0.6);
  color: #e9ddff;
}

.ham-menu {
  display: none;
  font-size: 3.8rem;
  color: #fff;
  cursor: pointer;
  transition: 0.3s ease;
}

.ham-menu:hover {
  transform: scale(1.15);
  color: #cbb2ff;
}

@media (max-width: 768px) {

  .navbar-grid {
    grid-template-columns: 1fr auto;
    padding: 0 2rem;
    height: 7rem;
  }

  .ham-menu {
    display: block;
    font-size: 3rem;
    color: #fff;
    cursor: pointer;
    position: relative;
    z-index: 20;
  }

  nav ul {
    position: absolute;
    top: 7rem;         /* directly below header */
    right: 2rem;       
    width: 180px;      
    background: #202020;
    border-radius: 10px;
    padding: 1.5rem 0;
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;

    display: none;     /* hidden by default */
  }

  /* When open */
  nav ul.nav-open {
    display: flex;
  }

  /* Menu items */
  nav ul li a {
    font-size: 1.6rem;
    color: #fff;
    text-decoration: none;
  }
}
